{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block heading %} {{ headline }} {% endblock %}

{% block body %}
   {% for music in musics %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ music.author.username  }}</a>
            <small class="text-muted">{{ music.date_musiced }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('music', music_id=music.id) }}">{{ music.title }}</a></h2>
          <p class="article-content">{{ music.content }}</p>
        </div>
      </article>
   {% endfor %}

<!-- Debug START -->
   <!-- {% for music in musics %}
      <h1>{{ music.title}}</h1>
      <p>By {{ music.author.username }} on {{ music.date_musiced }}</p>
      <p>{{music.content}}</p>
      <p>rating : {{music.rating}}</p>
   {% endfor %}

   {% for review in reviews %}
      <li>{{ review }}</li>
   {% endfor %} -->
<!-- Debug END -->

   <!-- <form action="{{ url_for('index') }}" method="music">
       <input type="text" name="review" placeholder="Type your review here">
       <button>Add review</button>
   </form> -->
{% endblock body%} # explict ending of the block
