{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block heading %} {{ headline }} {% endblock %}

{% block body %}
   {% for music in musics %}
      <h1>{{ music.title}}</h1>
      <p>By {{ music.author.username }} on {{ music.date_musiced }}</p>
      <p>{{music.content}}</p>
      <p>rating : {{music.rating}}</p>
   {% endfor %}

   {% for review in reviews %}
      <li>{{ review }}</li>
   {% endfor %}


   <!-- <form action="{{ url_for('index') }}" method="music">
       <input type="text" name="review" placeholder="Type your review here">
       <button>Add review</button>
   </form>
{% endblock body%} # explict ending of the block
