{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block heading %} {{ headline }} {% endblock %}

{% block body %}
   {% for music in musics %}
      <h3>{{ music.title}} - - {{music.content}}</h3>
      <!-- <p>{{ music.author.username }} on {{ music.date_musiced }}</p> -->
      <p>rating : {{music.rating}}</p>
   {% endfor %}

   {% for review in reviews %}
      <li>{{ review }}</li>
   {% endfor %}

      <!-- <form action="{{ url_for('index') }}" method="music">
          <input type="text" name="review" placeholder="Type your review here">
          <button>Add a preference</button>
      </form> -->
{% endblock body%} # explict ending of the block
